/**********BEGIN VIEW PAGE**********/
#scout-view{
    width: 98%;

    .table{
        background-color: #fff;
        color: #363636;
        border-collapse: collapse;
        border-spacing: 0;

        td, th{
            border: 1px solid #dbdbdb;
            border-width: 0 0 1px;
            padding: .5em .75em;
            vertical-align: top;
        }

        thead{
            background-color: transparent;

            th{
                color: #363636;
                text-align: left;
                padding: .5em .75em;
                vertical-align: top;
            }
        }

        tbody{
            background-color: transparent;

            tr{
                &:hover{
                    background-color: #00d1b2;
                    color: #fff;
                }
            }
        }

    }

    table{
        width: 2100px;
    }

    table, table *{
        box-sizing: border-box;
    }

    table thead tr{
        display:block;
    }

    table th,table td{
        width:100px;//fixed width
    }

    table th:last-child,
    table td:last-child{
        width: 500px !important;
    }


    table  tbody{
      display:block;
      height:80vh;
      overflow:auto;//set tbody to auto
    }

    #table-scroll{
        overflow-x: auto;
        overflow-y: hidden;
    }
}
/**********END VIEW PAGE**********/
