/*FOOTER*/

#footerArrow img {
    position: absolute;
    top: 0;
    right: 0;
    height: 30%;
}


/*FOOTER CONTENT*/

.connect {
    height: 30%;
}

.connect h2 {
    text-align: center;
    padding-top: .4em;
    margin: 0;
}

.connect>h2 {
    color: white;
    font-size: 1.8em;
    &>a {
        color: white;
    }
}


/*SOCIAL ICONS COMMON*/

.social>div {
    display: inline-block;
    vertical-align: top;
    /* IE fix. */
    *display: inline;
    zoom: 1;
}

.social:after {
    content: "";
    width: 100%;
    display: inline-block;
}


/*FOOTER SOCIAL ICONS*/

footer>.social {
    margin: auto;
    text-align: justify;
    height: 70%;
    /*FOOTER:WIDE SCREEN*/
    @media only screen and (min-width: 1001px) {
        width: 80%;
    }
    /*FOOTER:NARROW SCREEN*/
    @media only screen and (max-width: 1000px) {
        width: 95%;
    }
}

footer>.social>div {
    height: 42%;
    width: 56.438px;
}

footer>.social:before {
    content: "";
    display: block;
    width: 100%;
    height: 29%;
}


/*SOCIAL IMAGES*/

.social>div {
    transition: .3s linear;

    svg {
        width: 100%;
        height: 100%;
    }
}

.social>div:hover {
    transform: rotate(360deg);
}

.social svg path {
    fill: #000000;
    transition: .3s linear;
}

.facebook:hover svg path {
    fill: #3c5b9b !important;
}

.twitter:hover svg path {
    fill: #2daae1 !important;
}

.youtube:hover svg path {
    fill: #cc181e !important;
}

.github:hover svg path {
    fill: purple !important;
}

.email:hover svg path {
    fill: #669c41 !important;
}


/*FOOTER> KEEP AT BOTTOM*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 12em;
    /* Height of the footer element */
}

#footer {
    background: $footerColor;
    width: 100%;
    height: 12em;
    position: absolute;
    bottom: 0;
    left: 0;
}
