//Globla Variables
$fontColor: #5B5B5B;
$hoverColor:#FF6A00;
//main Variables
$mainColor: #2E3094;
$mainColorShade: #262977;
$mainAccent: #676767;
//navigation Variables
$navHoverColor: #808080;
$navHam: $navHoverColor;
$navHamAccent: gray;
//footer Variables
$footerAccent: $fontColor+20%;
$footerColor: $fontColor - 20%;
//resources Variables
$cardBackgrounds: #D6D6D6;
$buttonHover: #262626;
