{% extends "base.html" %}
{% block title %}Field{% endblock %}
{% block content %}
    <main id="mainScout">
        <div id="scout-field">
            <form method="POST" action="{{ url_for('field_submit') }}">
                <div>
                    <div class="autocomplete" style="width:300px;">
                        <label>Team Number:
                            <input id="myInput" type="text" name="team-no" placeholder="Team Number" required>
                        </label>
                    </div>
                </div>

                <div>
                    <label>Sand Storm:
                        <select required name="sand-storm">
                            <option value="a">Autonomous</option>
                            <option value="t">Teleop</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label>Starting Level:</label>
                    <label>Level 1:
                        <input required type="radio" name="lv" value="1">
                    </label>
                    <label>Level 2:
                        <input required type="radio" name="lv" value="2">
                    </label>
                </div>

                <div>
                    <div>
                        <label>Preloaded HP Cargo Ship:</label>
                        <input required type="number" name="pre-cargo-hp">
                    </div>
                    <div>
                        <label>Preloaded C Cargo Ship:</label>
                        <input required type="number" name="pre-cargo-c">
                    </div>
                </div>

                <div>
                    <div>
                        <label>Preloaded HP Rocket:</label>
                        <input required type="number" name="pre-rocket-hp">
                    </div>
                    <div>
                        <label>Preloaded C Rocket:</label>
                        <input required type="number" name="pre-rocket-c">
                    </div>
                </div>

                <div>
                    <div>
                        <label>Auto HP Cargo Ship:</label>
                        <input required type="number" name="auto-cargo-hp">
                    </div>
                    <div>
                        <label>Auto C Cargo Ship:</label>
                        <input required type="number" name="auto-cargo-c">
                    </div>
                </div>

                <div>
                    <div>
                        <label>Auto HP Rocket:</label>
                        <input required type="number" name="auto-rocket-hp">
                    </div>
                    <div>
                        <label>Auto C Rocket:</label>
                        <input required type="number" name="auto-rocket-c">
                    </div>
                </div>

                <div>
                    <div>
                        <label>Teleop HP Cargo Ship:</label>
                        <input required type="number" name="teleop-cargo-hp">
                    </div>
                    <div>
                        <label>Teleop C Cargo Ship:</label>
                        <input required type="number" name="teleop-cargo-c">
                    </div>
                </div>

                <div>
                    <div>
                        <label>Teleop HP Rocket:</label>
                        <input required type="number" name="teleop-rocket-hp">
                    </div>
                    <div>
                        <label>Teleop C Rocket:</label>
                        <input required type="number" name="teleop-rocket-c">
                    </div>
                </div>

                <div>
                    <label>Level Climbed: <input required type="number" min="1" max="3" step="1" name="lv-climb"></label>
                </div>

                <div>
                    <label>Comments:
                        <textarea maxlength="5000" name="comments"></textarea>
                    </label>
                </div>

                <div>
                    <input type="submit">
                </div>
            </form>

            <div class="scout-btn">
                <a href="{{ url_for('index') }}">Home</a>
            </div>
        </div>
    </main>

    <script>

    var teams = {{ teams|tojson|safe }};

    console.log(teams)

    function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i][0].toString().substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i][0].toString().substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i][0].toString().substr(val.length);
              b.innerHTML += "&nbsp;&nbsp;&nbsp;" + arr[i][1];
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i][0] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
    }

    autocomplete(document.getElementById("myInput"), teams);

    </script>
{% endblock %}