{% extends "base.html" %}
{% block title %}Scouting{% endblock %}
{% block content %}
    <main id="scout-view">
        <div class="scout-btn">
            <a href="{{ url_for('index') }}">Home</a>
        </div>

        <script>
            // basic js search function for a table
            function search(tableName) {
                // Declare variables
                var input, filter, table, tr, td, i;
                input = document.getElementById("search"); // search field must be called search
                filter = input.value.toUpperCase();
                table = document.getElementById(tableName);
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || i === 0){
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

        <label for="search">Team No.</label>
        <input id="search" name="search" type="number" min="0" step="1" onkeydown="search('search-results')">

        <div id="table-wrapper">
            <div id="table-header"></div>
            <div id="table">
                <table id="search-results">
                    <thead>
                        <tr>
                            {% for col in cols %}
                                <th><div class="th-inner">{{ col }}</div></th>
                            {% endfor %}
                        </tr>
                        <tr id="hidden-header">
                            {% for col in cols %}
                                <th><div class="th-inner">{{ col }}</div></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in matches %}
                        <tr>
                            {% for dp in row %}
                                <td>{{ dp }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </main>
{% endblock %}